/* CSS Reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

@font-face {
    src: url(font/fa-brands-400.svg);
    font-family: 'fa-brands-400', sans-serif;
}

@font-face {
    src: url(font/fa-regular-400.svg);
    font-family: 'fa-regular-400', sans-serif;
}

@font-face {
    src: url(font/fa-solid-900.svg);
    font-family: 'fa-regular-400', sans-serif;
}

body {
    -webkit-text-size-adjust: none;
    line-height: 1.5;
}

.box1 {
    width: 371px;
    height: 305px;
    background-image: linear-gradient(to top right, #FFFFFF 0%, #1815df 50%, #AACFEF 100%);
    padding: 30px;
    margin: 12px auto;
    text-align: center;
    box-shadow: 1px 1px 5px 1px;

}

section {
    margin-top: 50px;
    color: white;
}

#title {
    font-weight: bold;
    color: white;
}

main {
    width: 371px;
    height: 1840px;
    background-color: rgb(254, 254, 254);
    padding: 30px;
    margin: 5px auto;
    text-align: center;
    box-shadow: 1px 1px 5px 1px;
}

h1 {
    font-size: 200%;
    margin-bottom: 10%;
}

nav {
    font-size: 12px;
    margin-top: -10px;
    margin-bottom: 20px;
    opacity: 0.5;
}

aside {
    text-align: left;
}

h5 {
    font-size: 19px;

}

strong {
    font-weight: bold;
    color: #e935ad;
}

h3 {
    text-align: center;
    font-weight: bold;
    margin-top: 1em;
}

table {
    margin-bottom: 2em;
}

thead tr {
    background-color: blue;
    color: white;
}

th,
td {
    padding: 12px 15px;
    vertical-align: bottom;
    text-align: center;
}

tbody tr {
    border-bottom: 1px solid white;
}

tbody tr:nth-of-type(even) {
    background-color: antiquewhite;
}



img {
    width: 268px;
    height: 117px;
}

iframe {
    border-radius: 20px;
    width: 100%;
    height: 200px;
    margin-bottom: 2em;
    margin-top: 2em;

}

h2 {
    text-align: center;
    font-weight: bold;
}

code {
    background-color: gray;
}

footer div {
    background-color: gray;
    width: 432px;
    height: 98px;
    margin: auto;
    border: 3px;
    border-radius: 5px
}